<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/custom/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryjqgrid")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/jqueryval")<!--要想在布局页里使用以下脚本，必须加入验证文件，否则会有：SCRIPT5007: 无法获取属性“methods”的值: 对象为 null 或未定义 -->

    <!--
        jquery.validate.js中的日期判断这句有误：
        date: function( value, element ) {
                return this.optional(element) || !/Invalid|NaN/.test(new Date(value).toString());
        }
        在IE6,7,8 newData('2013-08-13') 是会返回 NaN 的，所以会验证通不过。加入以下代码解决。
    -->
    <!--[if lt IE 9]>
    <script type="text/javascript">
        $(function () {
            $.validator.methods.date = function(value, element) {
                return this.optional(element) || !/^\d{4}[\/\-]\d{1,2}[\/\-]\d{1,2}$/.test(new Date(value).toString());
            };
        });
    </script>
<![endif]-->

</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
